@page "/Detalle/VueloSalidaDetalle/{id:int}"
@inject HttpClient Http
@inject DialogService dialogService

<RadzenDialog />
<RadzenNotification />

@if (vueloSalidaModel == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">-cargando...</span>
        </div>
    </div>
}
else
{
    <div class="content px-4">
        <div class="row text-center">
            <div class="col-sm">
                <h2 style="color:blue" class="title-page-form">@vueloSalidaModel.Origen - @vueloSalidaModel.Destino <span title="Ver detalle" class="oi oi-location" aria-hidden="true"></span></h2>
            </div>
        </div>
    </div>

    <RadzenFieldset AllowCollapse="true" class="form-radzen-search">
        <HeaderTemplate>
            <strong class="tittle-card">Detalle salida de vuelo</strong>
        </HeaderTemplate>
        <ChildContent>
            <div class="container">
                <div class="row">
                    <div class="card">
                        <EditForm Model="@vueloSalidaModel">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Origen</label>
                                        <InputText @bind-Value="@vueloSalidaModel.Origen" class="form-control" disabled />
                                       <span title="Ver detalle" class="oi oi-location" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Destino</label>
                                        <InputText @bind-Value="@vueloSalidaModel.Destino" class="form-control" disabled />
                                        <span title="Ver detalle" class="oi oi-location" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha </label>
                                        <InputDate @bind-Value="@vueloSalidaModel.Fecha" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hora Salida</label>
                                        <InputText @bind-Value="@vueloSalidaModel.Salida" class="form-control" disabled />
                                        <span title="Ver detalle" class="oi oi-timer" aria-hidden="true"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        @if (vueloSalidaModel.IdEstado == 1)
                                        {
                                            <p style="color:green">Activo <span title="Activo" class="oi oi-thumb-up" aria-hidden="true" /></p>
                                        }
                                        else
                                        {
                                            <p style="color:red">Cancelado <span title="Cancelado" class="oi oi-thumb-down" aria-hidden="true" /></p>
                                        }
                                    </div>
                                </div>
                            </div>

                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </EditForm>
                    </div>
                </div>
            </div>
        </ChildContent>
    </RadzenFieldset>
    <br />

    <div class="form-group">
        <div class="row">
            <center>
                <button type="submit" class="btn btn-outline-primary button-complement-xl" @onclick="(()=> dialogService.Close(false))">
                    <span class="oi oi-arrow-left" aria-hidden="true"></span> REGRESAR
                </button>
            </center>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    VueloSalidaModel vueloSalidaModel = null;
    RadzenDataGrid<VueloSalidaModel> grid = new();

    protected override async Task OnInitializedAsync()
    {
        var url = $"https://localhost:44380/VueloSalida/ObtenerPorId/" + $"{Id}";
        if (vueloSalidaModel == null)
            vueloSalidaModel = await Http.GetFromJsonAsync<VueloSalidaModel>(url);
    }

}






